{% extends "base.html" %}

{% block content %}

{% if submited %}
	<p class="success"> v poradku odeslano </p>
{% else %}
	{% if not hasAutomaton %}
	<form action="" method="post"  novalidate enctype="multipart/form-data">
		<table>
			{% if not AutomatonParsed %}
				Automaton not loaded
			{% endif %}
			<tr>
				Insert automaton
			</tr>
			{{ InputAutomata.as_table }}
			<tr>
				<td>&nbsp;</td>
				<td><input type="submit" name="SubmitAutomaton" value="SubmitAutomaton"></td>
			</tr>
		</table>
		{% csrf_token %}
	</form>
	{% else %}
		<table>
			<tr>
				Automaton loaded
			</tr>
		</table>
	{% endif %}
	<br>
	<form action="" method="post" novalidate >
		<table>
			<tr>
				Tested word
			</tr>
			{{ InputWord.as_table }}
			<input type="hidden" name=automata value="{{ Automat }}">
			<tr>
				<td>&nbsp;</td>
				<td><input type="submit" name="SubmitWord" value="SubmitWord"></td>
			</tr>
		</table>
	{% csrf_token %}
	</form>
{% endif %}
{% if result is None %}
{% else %} {% if result == True %}
It accept it {{word}}
	{% else %}
It dont accept it
{% endif %}
{% endif %}
{% endblock content %}

<li><a href="{% url 'result' %}">to result</a></li>
